body{
    font-family: $fuente;
}
#header{	
	background-color: $color-white;	
	position: fixed;
	width: 100%;
	height: auto;
	align-items: center;
  margin-top:0;
  z-index: 2;
  .container{
    margin-left: 33px;
    height: auto;
    width: auto;
    background-color: $color-white; 
  }
  .navbar-nav{
    margin-left: -170px;
    margin-top: 30px;
  }
  .logo{
    margin-right: 300px;
    height: 70px;
    width: 154px;
  }
  li a{
    color: $color-title-menu; 
    font-size: 1.5rem;
    font-weight: 400;
    &:hover {
      color: $color-hover
    }
  }
}
#carouselExampleCaptions{
  z-index: 1;
  .fotoUno{
    font-size: 7.25rem;
    color:$color-texto-slider;
    margin-bottom: 195px;  
  }
}  
/*HISTORIA*/  
#historia{
  width: 100%;
  margin: auto;
  min-height: 113px;
  @include bg-historia;
  @include parallax; 
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  .titleHistoria{
    @include titulo-light-gray;
    margin-top: 60px;
    margin-left: 30px;
  }
  .textoHistoria{
    @include  text-his;
    margin-left: 30px;
  }   
}
/*ENVIOS*/
#envios{
  width: 100%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
  @include bg-light-gray (300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .rec{
    border: 0;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 40px; 
  }
  .contentEnvios{
    width: 18rem;
    .botonTar{	
      padding-left: 100px;
      color: $color-bordo;
      &:hover{  
        color: $color-bordo;
      }
    }
    .texTi{
      @include tex-ti;
    }
    .textAl{
      @include tex-al;
    }
  }  
}
/*PROMOCIONES*/
.ml-5 {
  margin-left: 4rem;
}  
#promociones{
  width: 100%;
  margin: auto;
  height: 500px;
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  @include bg-madera;
  @include parallax;
  .tituloPromociones{
    @include titulo-light-gray;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-left: 30px;
  }
  .row{
    margin-left: 26px;
    .card{
      @include cards;
      .tituloCard{
        @include tex-ti;
      }
      .card-text{
        @include tex-al;
      }
      @include cards-hover;
    }
  }
}
/*DESTACADOS*/
#destacados{
  max-width: 100%;
  @include bg-light-gray;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; 
  height: 500px;
  margin-top: -30px;
  .tituloDestaacados{
    @include titulo-rojo;
    padding-left: 53px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .destacados-1{
    @include text-hover;
  }
  .destacados-2{
    @include text-hover(url("../multimedia/destacados-2.jpeg"));
  }
  .destacados-3{
    @include text-hover(url("../multimedia/destacados-3.jpeg"));    
  }
}
/*PROVEEDORES*/
.fondoMarcas{
  @include bg-marcas;
}
#proveedores{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; 
  height: 350px; 
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;  
  .tituloMarcas{
    @include titulo-light-gray;
    margin-top: 60px;
    margin-left: 30px; 
  }
  img{
    max-width: 18%;
    margin-left: 75px;
  }
}
/*FOOTER*/
#footer{
  padding-left: 170px;
  .textFa{
  text-align: center;
  font-size: .8rem;
  }
  .texFi{
    text-align: center;
    font-size: .8rem;
    color: $color-bgBlack;
    &:hover {
    color: $color-title-menu;
    text-decoration: none;
    }
  }
  .iconRedes{
    color: $color-bordo;
  }
}
/*PARRILLAS*/
.ml-5 {
  margin-left: 4rem;
} 
#productosParrillas.img-1{
  @include bg-madera;
}  
#productosParrillas{
  width: 100%;
  margin: auto;
  padding-top: 130px; 
  display: flex;
  flex-direction: column;
  @include parallax;
  .tituloParrillas{
    @include titulo-light-gray;
    margin-top: 60px;
    padding-left: 30px;
    padding-bottom: 50px;
  }
  .row{
    margin-left: 26px;
    .card{
      border: 1px solid $color-bordo;
      width: 13rem;
      height: 300px;
      overflow: hidden;
      margin-bottom: 50px;
      .tituloCard{
        @include tex-ti;
      }
      .card-text{
        @include tex-al;
      }
      @include cards-hover;
    }
  }
}
/*SECCION SALAMANDRAS*/
.ml-5 {
  margin-left: 4rem;
} 
#productosSalamandras.img-1{
  @include bg-madera;
}  
#productosSalamandras{
  width: 100%;
  margin: auto;
  padding-top: 130px; 
  display: flex;
  flex-direction: column;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .tituloSalamandras{
    @include titulo-light-gray;
    margin-top: 60px;
    padding-bottom: 50px;
    padding-left: 30px;
  }
  .row{
    margin-left: 26px;
    .card{
      border: 1px solid $color-bordo;
      width: 13rem;
      height: 300px;
      overflow: hidden;
      margin-bottom: 50px;
      .tituloCard{
        @include tex-ti;
      }
      .card-text{
        @include tex-al;
      }
      @include cards-hover;
    }
  }
}
/*SECCIÓN INSTALACIONES*/
#introInsta{
  @include bg-instalaciones;
  @include parallax;
  padding-top: 125px;  
  width: 100%;
  height:500px;  
  .tituloIns{
    @include titulo-light-gray;
    margin-top: 30px;
    margin-bottom:35px;
    margin-left: 25px; 
  }
  .textIns{
    @include text-his;
    margin-bottom: 30px;  
    margin-left: 30px; 
  }
} 
#galeria {
  background-color: $color-light-gray;
  width: 100%;
  .tituloServicio{
    @include subtitulo-rojo;
    padding-top: 50px;
     padding-left: 25px;
  }
  .row{
    margin-left: 20px;
    .col-lg-4{
      margin: 0!important;
      padding: 40px;
    }
    img{
      width: 90%;
      height: 250px;
      border: 3px solid #3f4042;
      &:hover{
        border: 5px solid #3f4042;
      }
    }
  }
}   
/*SECCION CONTACTO*/
#contacto{
  display: grid;
  grid-template-areas: 
  ". rel suc map ."
  ". relt suct map ."
  ". tel mai map ."
  ". telt mait map .";
  grid-template-rows: 237px 105px 71px 45px;
  grid-template-columns: 189px 298px 165px 352px 250px;
  grid-column-gap: 1%;
  grid-row-gap: 2%;
  justify-items: center;
  align-items:center;
  @include bg-light-gray (600px);
  .reloj{
    grid-area: rel;
    justify-self: stretch;
    padding-top: 185px;
    text-align: center;
    margin-left: 15px;
  }
  .relojText{
    grid-area: relt;
    justify-self: center;
    padding-top: 20px;
    text-align: center;
    margin-left: 70px;
    .titleDos{
      @include title-contact;
    }
    .textoDos{
       @include text-contact;
    }
  }    
  .sucursal{
    grid-area: suc;
    justify-self: stretch;
    padding-top: 185px;
    text-align: center;
    margin-right: 298px;  
  }
  .sucursalText{
    grid-area: suct;
    justify-self: center;
    padding-top: 20px;
    text-align: center;
    margin-right: 20px;
    .titleDos{
      @include title-contact;
    }
    .textoDos{
      @include text-contact;
    }
  } 
  hr{
    width: 360px;
    border: 1px solid #3f4042;
    margin-top: 500px;
    margin-left: 300px;
  }  
  .line-2{
    height: 310px;
    width: 0;
    border: 1px solid #3f4042;
    margin-top: 464px;
    margin-right: 1293px;
  } 
  .telefono{
    grid-area: tel;
    justify-self: stretch;
    text-align: center;
    margin-left: 13px; 
  }
  .telefonoText{
    grid-area: telt;
    justify-self: center;
    padding-top: 20px;
    text-align: center;
    margin-left: 70px;
    .titleDos{
      @include title-contact;
    }
    .textoDos{
      @include text-contact;
    }
  }    
  .mail{
    grid-area: mai;
    justify-self: stretch;
    text-align: center;
    margin-right: 293px; 
  }
  .mailText{
    grid-area: mait;
    justify-self: center;
    padding-top: 20px;
    text-align: center;
    margin-right: 11px;  
    .titleDos{
      @include title-contact;
    }
    .textoDos{
      @include text-contact;
    }
  }    
  .map{
    grid-area: map;
    justify-self: stretch;
    margin-left: 13px; 
    margin-top: 13px; 
    width:400px;
    height:134px;  
  }
}
.botonShop{
    color: $color-bordo;
    padding-top: 60px;
    padding-left: 60px;
}
#gFormularios{
  width: 100%;
  height: 460px;
  @include bg-light-gray;
  display: grid;
  grid-template-areas: 
  ". tex tex ."
  ". nom men ."
  ". serv men ."
  ". ads footer .";
  grid-template-columns: .9fr 0fr 2fr 0.3fr;
  grid-template-rows: 43fr 20fr 19fr 30fr;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  justify-items: center;
  background-image: linear-gradient(90deg, rgba(84,84,84,1) 1%, rgba(84,84,84,0.9009978991596639) 55%), url("../multimedia/fgris.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .fText{
    grid-area: tex;
    justify-self: stretch;
    padding-top: 58px;
    text-align:center;
    font-size: 2.5rem; 
    font-style: normal;
    font-weight: bold;
    color: $color-light-gray;
    margin-right: 185px;
  }
  .nombre{
    grid-area: nom;
    justify-self: stretch;
    background-color: $bg-form;
    width: 400px;
    height: 61px;
    border: 2px solid $color-light-gray;
  }
  .estilotextarea{
    background-color: $bg-form;
    width:395px;
    height: 153px;
    border: none;
  }
  .correo{
    grid-area: serv;
    justify-self: stretch;
    background-color: $bg-form;
    width: 400px;
    height: 61px;
    border: 2px solid $color-light-gray;
  }
  .opciones{
    grid-area: ads;
    justify-self: stretch;
    background-color: $bg-form;
    width: 400px;
    height: 61px;
    border: 2px solid $color-light-gray;
  }
  .mensaje{
    grid-area: men;
    justify-self: stretch;
    background-color: $bg-form;
    width:400px;
    height:167px;
    border: 2px solid $color-light-gray;
  }
  .botonFo{
    grid-area: footer;
    justify-self: stretch;  
   .enviar{
    width:406px;
    height:39px;
    background-color: $bg-form;
    margin-bottom: 9px;
    border: 2px solid $color-light-gray;
    }
    .sus{
      text-align: left;
      color: $color-light-gray;
    }
  }  
}
.recuadro{
    background-color: $bg-form;
    border: none;
    width: 390px;
    height: 50px;
}   
.no-desk{
  display: none;
}   
@media all and (max-width: 768px){
  .navbar-toggler {
    border-color: $color-red;
    margin-top: -52px;
    margin-left: 192px;
    padding-top: 0px;
    padding-left: 0px;
  }
  
  #header{	
    background-color: $color-white;	
    position: fixed;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top:0;
    z-index: 2;
    .container{
      margin-left: 33px;
      height: auto;
      width: auto;
      background-color: $color-white; 
    }
    .navbar-nav{
      margin-left: -170px;
      margin-top: 30px;
    }
    .logo{
      margin-right: 300px;
      height: 70px;
      width: 154px;
    }
    li a{
      color: $color-title-menu; 
      font-size: 1rem;
      font-weight: 400;
      &:hover {
        color: $color-hover
      }
    }
    .nav-link{
      padding-left: 427px;
    }
  }
  .non{
    display: none;
  }
  .w-100 {
    width: 100%;
    height: 400px;
  }
  /*HISTORIA*/  
  #historia{
    .titleHistoria{
      @include titulo-light-gray(1.7rem);
      margin-top: 27px;
      margin-left: 1px;
    }
    .textoHistoria{
      @include  text-his(.9rem);
      margin-left: 4px;
    }   
  }
  /*ENVIOS*/ 
  #envios, .d-flex{
    display: none !important; 
    .row{
      display: none; 
    }
  }
  .contentEnvios-1{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 226px;
    .botonTar{
      margin-left: 111px;
      color: $color-bordo;
    }
    .textAl{
      margin-left: 37px;
    }
  }
  .contentEnvios-2{
    margin-top: 30px;
    margin-left: 226px;
    .botonTar{
      margin-left: 111px;
      color: $color-bordo;
    }
    .texTi{
      margin-left: 90px;
    }
    .textAl{
      margin-left: 90px;
    }
  }
  .contentEnvios-3{
    margin-top: 30px;
    margin-left: 226px;
    .botonTar{
      margin-left: 111px;
      color: $color-bordo;
    }
    .texTi{
      margin-left: 52px;
    }
    .textAl{
      margin-left: 35px;
    }
  }
  .contentEnvios-4{
    margin-top: 30px;
    margin-left: 226px;
    .botonTar{
      margin-left: 111px;
      color: $color-bordo;
    }
    .texTi{
      margin-left: 15px;
    }
    .textAl{
      margin-left: 75px;
    }
  }     
  /*PROMOCIONES*/
  #promociones{
    display: none;
  }
  .ml-5 {
    margin-left: 4rem;
  }  
  #promociones-res{
    width: 100%;
    margin: auto;
    height: 500px;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    @include bg-madera;
    @include parallax;
    .tituloPromociones{
      @include titulo-light-gray;
      margin-top: 60px;
      margin-bottom: 50px;
      padding-left: 30px;
    }
    .row{
      margin-left: 26px;
      .card{
        @include cards;
        .tituloCard{
          @include tex-ti;
        }
        .card-text{
          @include tex-al;
        }
        @include cards-hover;
      }
    }
  }
  #seccionCuatro{
    width: 100%;
    height: 400px;
  }
  #seccionCuatro{
    width: 100%;
    margin: auto;
    padding-top: 55px;
    padding-bottom: 40px;
    padding-left: 0px;
  }
  #seccionCuatro .titulo{
    margin-left: 40px;
    align-self: center;
  }
  #seccionCuatro .row{
     margin-left: 230px;
  }
  #footer{
    padding-left: 90px;
  }
  .textFa{
    text-align: center;
    font-size: .5rem;
  }
  .texFi{
    text-align: center;
    font-size: .5rem;
    color: $color-bgBlack;
  }
  #footer .font-weight-bold{
    font-size: .5rem;
  }
  iframe{
    width: 100px; 
    height: 100px;
  }
  /*PARRILLAS*/ 
  #productosParrillas.img-1{
    @include bg-madera;
  }  
  #productosParrillas{
    width: 100%;
    margin: auto;
    padding-top: 130px; 
    display: flex;
    flex-direction: column;
    @include parallax;
    .tituloParrillas{
      @include titulo-light-gray;
      margin-top: 60px;
      padding-left: 30px;
      padding-bottom: 50px;
    }
    .row{
      margin-left: 26px;
      .card{
        border: 1px solid $color-bordo;
        width: 11rem;
        height: 234px;
        overflow: hidden;
        margin-bottom: 50px;
        .card-body{
          padding: 0.40rem;
        }
        .tituloCard{
          @include tex-ti(.8rem);
        }
        .card-text{
          @include tex-al(.7rem);
        }
        @include cards-hover;
        }
      }
    }
  #productosParrillas .row .card button {
    left: -4px;
    top: 45px;
  }
  /*SALAMANDRAS*/
  #productosSalamandras{
    width: 100%;
    margin: auto;
    padding-top: 130px; 
    display: flex;
    flex-direction: column;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .tituloSalamandras{
      @include titulo-light-gray;
      margin-top: 60px;
      padding-bottom: 50px;
      padding-left: 30px;
    }
    .row{
      margin-left: 26px;
      .card{
        border: 1px solid $color-bordo;
        width: 11rem;
        height: 234px;
        overflow: hidden;
        margin-bottom: 50px;
        .card-body{
          padding: 0.40rem;
        }
        .tituloCard{
          @include tex-ti(.8rem);
        }
        .card-text{
          @include tex-al(.7rem);
        }
        @include cards-hover;
      }
    }
  }
  #productosSalamandras .row .card button {
    left: -4px;
    top: 45px;
  }
  /*INSTALACIONES*/
  #introInsta{
    @include bg-instalaciones;
    @include parallax;
    padding-top: 125px;  
    width: 100%;
    height:500px;  
    .tituloIns{
      @include titulo-light-gray;
      margin-top: 30px;
      margin-bottom:35px;
      margin-left: 25px; 
    }
    .textIns{
      @include text-his (1rem);
      margin-bottom: 30px;  
      margin-left: 30px; 
    }
  } 
  #galeria {
    background-color: $color-light-gray;
    width: 100%;
    .tituloServicio{
      @include subtitulo-rojo;
      padding-top: 50px;
       padding-left: 25px;
    }
    .row{
      margin-left: 20px;
      .col-lg-4{
        margin: 0!important;
        padding: 40px;
      }
      img{
        width: 90%;
        height: 250px;
        border: 3px solid #3f4042;
        &:hover{
          border: 5px solid #3f4042;
        }
      }
    }
  }
  /*CONTACTO*/
  #contacto {
    width: 100%;
    height: 360px;
    display: grid;
    grid-template-areas:
    "rel"
    "relt";
    grid-template-columns: auto;
    grid-template-rows: 258px 410px;
    justify-items: center;
    align-items: center;
    background-color: $color-white;
  }
  .reloj{
    grid-area: rel;
    justify-self: stretch;
    padding-top: 100px;
    text-align: center;
    margin-left: 0px;
  }
  .relojText{
    grid-area: relt;
    justify-self: center;
    padding-bottom: 370px;
    text-align: center;
    margin-left: 40px;
  }
  .botonShop{
    padding-left: 10px;
    font-size: 3rem;
}
  .relojText .titleDos{
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    margin-right: 30px;
  }
  .relojText .textoDos{
    font-size: .7rem;
    font-style: normal;
    margin-right: 30px;
  } 
#gFormularios{
    width: 100%;
    height: 665px;
    display: grid;
    grid-template-areas: 
          "tex"
          "nom"
          "serv"
          "men"
          "ads"
          "footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 31fr 26fr 24fr 48fr 21fr 75fr;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    justify-items: center;
    align-items: center;
    background-color: $color-light-gray; 
    overflow: hidden; 
    padding-left: 25px;
  }
    .fText{
        padding-top: 58px;
        text-align: center;
        font-size: 1.5rem; 
        margin-right: 185px;
        margin-top: 7px;
        margin-left: 275px;
        margin-bottom: 30px;
    }
  .nombre{
    justify-self: stretch;  
    width: 300px;
    height: 65px;
    border: 1px solid $color-light-gray;
    margin-top: 9px;
    margin-left: 205px;
  }
  .recuadro{
    width: 297px;
    height: 61px; 
  }
  .estilotextarea{
    width: 295px;
    height: 125px;
    border: none;
  }
  .correo{
    justify-self: stretch;
    width: 300px;
    height: 65px;
    border: 1px solid $color-light-gray;
    margin-left: 205px;
    margin-top: 9px;
  }
  .opciones{
    justify-self: stretch;
    width: 300px;
    height: 65px;
    border: 1px solid $color-light-gray;
    margin-left: 205px;
    margin-top: 9px;
  }
  .mensaje{
    justify-self: stretch;
    width:300px;
    height:133px;
    margin-top: 9px;
    margin-left: 205px;
    margin-top: 9px;
  }
  .boton{
    justify-self: stretch; 
    margin-left: 205px;
    margin-top: 9px;  
  }
  .enviar{
    width: 300px;
    height: 46px;
    margin-bottom: 9px;
    border: 2px solid $color-light-gray;
    margin-left: 204px;
  }
  .sus{
    text-align: stretch;
    font-size: .8rem;    
  }
}
@media all and (max-width: 576px){
  .navbar-toggler {
    border-color: $color-red;
    margin-top: -52px;
    margin-left: 192px;
    padding-top: 0px;
    padding-left: 0px;
  }
  #header{	
    background-color: $color-white;	
    position: fixed;
    width: 100%;
    height: auto;
    align-items: center;
    margin-top:0;
    z-index: 2;
    .container{
      margin-left: 33px;
      height: auto;
      width: auto;
      background-color: $color-white; 
    }
    .navbar-nav{
      margin-left: -170px;
      margin-top: 30px;
    }
    .logo{
      margin-right: 300px;
      height: 70px;
      width: 154px;
    }
    li a{
      color: $color-title-menu; 
      font-size: 1rem;
      font-weight: 400;
      &:hover {
        color: $color-hover
      }
    }
    .nav-link{
      padding-left: 235px;
    }
  }
  #header{
    margin-top:0;
  }
   #header .logo{
    height: 40px;
    width: 90px;
  }
  .non{
    display: none;
  }
  .es-non {
    margin-top: 50px;
    width: 360px;
  }
  .tituloHueso{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    color: $color-light-gray;
    text-align:  center;
  }
  .textHis{
    display: inline-block;
    font-size: .8rem; 
    font-style: normal;
    text-align: center;
    color: $color-light-gray;
  }
  /*ENVIOS*/ 
  .carousel-item{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .contentEnvios-1{
    margin-top: 30px;
    margin-left: 35px;
    .botonTar{
      margin-left: 111px;
      color: $color-bordo;
    }
    .textAl{
      margin-left: 37px;
    }
  }
  .contentEnvios-2{
    margin-top: 30px;
    margin-left: 35px;
    .botonTar{
      margin-left: 111px;
      color: $color-bordo;
    }
    .texTi{
      margin-left: 90px;
    }
    .textAl{
      margin-left: 90px;
    }
  }
  .contentEnvios-3{
    margin-top: 30px;
    margin-left: 35px;
    .botonTar{
      margin-left: 111px;
      color: $color-bordo;
    }
    .texTi{
      margin-left: 52px;
    }
    .textAl{
      margin-left: 35px;
    }
  }
  .contentEnvios-4{
    margin-top: 30px;
    margin-left: 35px;
    .botonTar{
      margin-left: 111px;
      color: $color-bordo;
    }
    .texTi{
      margin-left: 15px;
    }
    .textAl{
      margin-left: 75px;
    }
  }
  .tituloRojo{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    text-align:  center;
    color: $color-bordo;
  }
  .card-img{
    width: 209px;
  }
  .botton{
    margin-top: 92px;
    margin-left: 38px;
  }
  #footer{
    padding-left: 90px;
  }
  .textFa{
    text-align: center;
    font-size: .5rem;
  }
  .texFi{
    text-align: center;
    font-size: .5rem;
    color: $color-bgBlack;
  }
  #footer .font-weight-bold{
    font-size: .5rem;
  }
  iframe{
    width: 100px; 
    height: 100px;
  }
  /*PARRILLAS*/
  #productosParrillas{
    width: 100%;
    margin: auto;
    padding-top: 95px; 
    display: flex;
    flex-direction: column;
    @include parallax;
    .tituloParrillas{
      @include titulo-light-gray (1.5rem);
      margin-top: 15px;
      padding-left: 1px;
      padding-bottom: 30px;
    }
    .row{
      margin-left: 1px;
      .card{
        border: 1px solid $color-bordo;
        width: 7rem;
        height: 170px;
        overflow: hidden;
        margin-bottom: 50px;
        .card-title{
          @include tex-ti (.6rem);
        }
        .card-text{
          @include tex-al (.5rem);
        }
        @include cards-hover (1.3rem);
      }
    }
  }
  #productosParrillas .row .card button {
    left: -31px;
    top: -13px;
  }
  /*SALAMANDRAS*/
  #productosSalamandras{
    width: 100%;
    margin: auto;
    padding-top: 95px; 
    display: flex;
    flex-direction: column;
    .tituloSalamandras{
      @include titulo-light-gray (1.5rem);
      margin-top: 15px;
      padding-left: 1px;
      padding-bottom: 30px;
    }
    .row{
      margin-left: 1px;
      .card{
        border: 1px solid $color-bordo;
        width: 7rem;
        height: 170px;
        overflow: hidden;
        margin-bottom: 50px;
        .card-title{
          @include tex-ti (.6rem);
        }
        .card-text{
          @include tex-al (.5rem);
        }
        @include cards-hover (1.3rem);
      }
    }
  }
  #productosSalamandras .row .card button {
    left: -31px;
    top: -13px;
  } 
  /*INSTALACIONES*/
  #introInsta{
    @include bg-instalaciones;
    @include parallax;
    padding-top: 70px;  
    width: 100%;
    height:550px;  
    .tituloIns{
      @include titulo-light-gray (1.5rem);
      margin-top: 30px;
      margin-bottom:30px;
      margin-left: 0px; 
    }
    .textIns{
      @include text-his (.9rem);
      margin-bottom: 20px;  
      margin-left: 0px; 
    }
  } 
  #galeria {
    background-color: $color-light-gray;
    width: 100%;
    .tituloServicio{
      @include subtitulo-rojo (1.4rem);
      padding-top: 50px;
      padding-left: 17px;
    }
    .row{
      margin-left: 20px;
      .col-lg-4{
        margin: 0!important;
        padding: 20px;
      }
      img{
        width: 90%;
        height: 250px;
        border: 3px solid #3f4042;
        &:hover{
          border: 5px solid #3f4042;
        }
      }
    }
  }
  /*CONTACTO*/
  #contacto {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-areas:
    "rel"
    "relt";
    grid-template-columns: auto;
    grid-template-rows: 210px 431px;
    justify-items: center;
    align-items: center;
    background-color: $color-white;
  }
  .reloj{
    grid-area: rel;
    justify-self: stretch;
    padding-top: 65px;
    text-align: center;
    margin-left: 0px;
  }
  .relojText{
    grid-area: relt;
    justify-self: center;
    padding-bottom: 370px;
    text-align: center;
    margin-left: 40px;
  }
  .botonShop{
    padding-left: 10px;
    font-size: 3rem;
}
  .relojText .titleDos{
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    margin-right: 30px;
  }
  .relojText .textoDos{
    font-size: .7rem;
    font-style: normal;
    margin-right: 30px;
  }
   #gFormularios{
    width: 100%;
    height: 560px;
    display: grid;
    grid-template-areas: 
          "tex"
          "nom"
          "serv"
          "men"
          "ads"
          "footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 31fr 26fr 24fr 48fr 21fr 75fr;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    justify-items: center;
    align-items: center;
    background-color: $color-light-gray; 
    overflow: hidden;
    padding-left:10px; 
  }
  .fText{
    padding-top: 58px;
    text-align: center;
    font-size: 1.5rem; 
    margin-right: 185px;
    margin-top: 7px;
    margin-left: 82px;
    margin-bottom: -5px;
  }
  .nombre{
    justify-self: stretch;  
    width: 200px;
    height: 45px;
    border: 1px solid;
    margin-top: 9px;
    margin-left: 70px;
  }
  .recuadro{
    width: 195px;
    height: 40px;
  }
  .estilotextarea{
    width: 195px;
    height: 105px;
    border: none;
  }
  .correo{
    justify-self: stretch;
    width: 200px;
    height: 45px;
    border: 1px solid $color-light-gray;
    margin-left: 70px;
    margin-top: 9px;
  }
  .opciones{
    justify-self: stretch;
    width: 200px;
    height: 45px;
    border: 1px solid $color-light-gray;
    margin-left: 70px;
    margin-top: 9px;
  }
  .mensaje{
    justify-self: stretch;
    width:200px;
    height:113px;
    margin-top: 9px;
    margin-left: 69px;
  }
  .boton{
    justify-self: stretch; 
    margin-left: 70px;
    margin-top: 9px;  
  }
  .enviar{
    width: 201px;
    height: 30px;
    margin-bottom: 11px;
    border: 2px solid $color-light-gray;
    margin-left: 70px;
    margin-top: 9px;
  }
  .sus{
    text-align: stretch;
    font-size: .8rem; 
    margin-left: 70px;   
  }
}

