
@mixin bg-white {
    background-color: $color-white;
    height: 400px;
}
@mixin bg-light-gray($h: 550px) {
    background-color: $color-light-gray;
    height: $h;
}
@mixin bg-madera{
    background-image: url("../multimedia/bgwood.jpg");
    background-size: cover;
    background-position: center;
}
@mixin bg-marcas{
    background-image: $gradiente-imagenes;
    background-size: cover;
    background-position: center;
}
@mixin bg-historia {
    background-image: $gradiente-local;
    background-position: center;    
}
@mixin bg-instalaciones{
    background-image: $gradiente-imagenes-grey;
    background-size: cover;
    background-position: center;
}
@mixin titulo-light-gray($t: 2.5rem, $colhue: #f1eeee){
    font-size: $t;
    font-style: normal;
    font-weight: bold;
    color: $colhue;    
}
@mixin titulo-rojo {
    font-size: 2.5rem; 
    font-style: normal;
    font-weight: bold;
    text-align: left;
    color: $color-bordo;    
}
@mixin subtitulo-rojo ($fs: 2.2rem){
    font-size: $fs; 
    font-style: normal;
    font-weight: bold;
    text-align: left;
    color: $color-bordo;    
}
@mixin text-his ($t: 1.2rem, $colhis: #f1eeee){
    display: inline-block;
    font-size: $t; 
    font-style: normal;
    text-align: left;
    color: $colhis;
}
@mixin tex-ti($tc: .9rem){
    text-align: center;
    font-size: $tc;
    color: $color-bgBlack;
}
@mixin tex-al($pc: .8rem){
    text-align: center;
    font-size: $pc;
    color: $color-bgBlack;
} 
@mixin title-contact{
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
}
@mixin text-contact{
    font-size: .8rem;
    font-style: normal;
}
@mixin efecto {
    border-style: solid;
    transition: all 0.5s linear;    
}
@mixin efecto-hover {
    transform: scale(0.9);   
}
@mixin parallax {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}  
@mixin cards{
    border: 1px solid $color-bordo;
    width: 13rem;
    height: 300px;
    overflow: hidden;     
} 
@mixin text-hover ($wh: 330px, $bgd: url("../multimedia/destacados-1.jpg")){
    display: block;
    margin-right: auto;
    margin-left: -280px;
    margin-top: 20px;
    overflow: hidden;
    position:relative; 
    top:125px; 
    width: $wh; 
    height: $wh; 
    background:$bgd; 
    background-size:100% 100%;
    overflow:hidden;
    color:$color-text-bottom;
    border: 2px solid $color-text-bottom;
    &:hover{
        background-image: $gradiente-rojo, $bgd;
        background-size: 110% 110%;
        transition:all .5s ease;
        h1, button{
          transform:translateX(0%); 
          transition:all .3s ease;
        }
        button{
            transform:translateX(0%); 
            transition:all .3s ease;
            border: transparent;
            background-color: transparent;
            font-size: 1.7rem;
            font-weight: bold;
          }
        &:before, &:after{
          width: 90%;
        } 
      }
      &:before{
        position: absolute;
        top:335px; 
        left:20px;
        content:""; 
        width:0%; 
        height:3px; 
        background:$color-text-bottom;
        transition:all .3s ease;
      }
      &:after{
        position: absolute; 
        top:10px; 
        right:20px; 
        content:""; 
        width:0%; 
        height:3px; 
        background:$color-text-bottom;
        transition:all .3s ease;
      }
      h1{
        margin: 100px 0px 0px 40px;
        position:absolute; 
        left:-18px;
        top:30px; 
        font-size: 2rem;
        font-weight: bold;
        transform:translateX(-120%);
        transition:all .5s ease;
      }
      .btn-primary {
        color: $color-light-gray;
        background-color: transparent;
        border-color: transparent;
    }
    button{
        margin: 133px 0px 0px 44px;
        position: absolute;
        left: 65px;
        top: 60px;
        transform:translateX(-334%); 
        transition:all .4s ease;       
    } 
    }
@mixin cards-hover ($fs: 1.7rem){
    &:hover{
        background-image: $gradiente-rojo;
        background-size: 208px 30px;
        transition:all .5s ease;
        button{
          transform:translateX(0%); 
          transition:all .3s ease;
          border: transparent;
          background-color: transparent;
          font-size: $fs;
          font-weight: bold;
        }
        .tituloCard, .card-text{
          display: none;
        }
        &:before, &:after{
          width: 90%;
        }     
    }
    &:before{
        position: absolute;
        top:335px; 
        left:20px;
        content:""; 
        width:0%; 
        height:3px; 
        background:$color-text-bottom;
        transition:all .3s ease;    
    }
    &:after{
        position: absolute; 
        top:10px; 
        right:20px; 
        content:""; 
        width:0%; 
        height:3px; 
        background:$color-text-bottom;
        transition:all .3s ease;    
    }
    .btn-primary {
        color: $color-text-bottom;
        background-color: transparent;
        border-color: transparent;
    }
    button{
        margin: 133px 0px 0px 44px;
        position: absolute;
        left: 5px;
        top: 95px;
        transform:translateX(-334%); 
        transition:all .4s ease;       
    }     
} 
